* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    overflow: hidden;
    background-color: #22252c;
    position: relative;
    padding: 0 100px
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-header {
    background-image: linear-gradient( 90deg, #0f9ab4, #30bb72);
    border-radius: 3em;
    margin-bottom: 20px;
}

.logo {
    height: 25px;
    padding-left: 82px;
}

.logo img {
    height: 100%;
    object-fit: cover;
}

/* Screen */

.main-header li a {
    text-decoration: none;
}

.main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity .6s;
}

body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
    z-index: 1;
}

/* layout */

.keyword-search-container {
    display: block;
    width: 100%;
    background-color: #22252c;
    /* width: 60%; */
    border-radius: 3em;
    height: 50px;
    border: none;
    margin: auto;
    font-size: 2em;
    color: #757575;
    padding-left: 30px;
    overflow: hidden;
    flex-wrap: wrap;
    /* text-align: center; */
    /* justify-content: center; */
    vertu
}

.keyword-search {}

.meme-page {
    display: none;
    max-width: 1258px;
    margin: 0 auto;
}

.main-container {
    position: relative;
    background-color: #383b42;
    max-width: 1258px;
    margin: 0 auto;
    border-radius: 10px;
}

.main-gallery {
    padding-bottom: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-container {
    background-color: #383b42;
}

.gallery-header {
    display: block;
    padding: 10px;
    background-color: #383b42;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 35px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 200px;
    gap: 20px;
    padding: 0 30px;
    justify-content: center;
    background-color: #383b42;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
    height: 70vh;
}

.gallery-header .search-container {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.gallery-header .search-container input {
    /* display: inline-block; */
    background-color: #22252c;
    width: 100%;
    border-radius: 3em;
    height: 50px;
    border: none;
    margin: auto;
    font-size: 2em;
    color: #757575;
    padding-left: 30px;
}

.img-container img {
    border-radius: 1em;
    cursor: pointer;
}

/* Scroll-bar */

/* width */

::-webkit-scrollbar {
    width: 14px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background: #22252c;
}

/* Meme page */

.meme-editor-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
    height: auto;
    overflow: auto;
    overflow-x: hidden;
    height: 80vh;
}

.ctrl-container {
    background-color: #383b42;
    padding: 15px 50px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

canvas {
    border-radius: 20px;
    border: 10px solid #383b42;
    width: 100%;
    min-width: 300px;
}

.ctrl-container .meme-input {
    width: 100%;
    height: 50px;
    border-radius: 3em;
    border: none;
    font-size: 2em;
    padding-left: 30px;
    color: #757575
}

.ctrl-container .ctrl-btns {
    width: 100%;
}

.ctrl-container .icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.ctrl-container img {
    width: 100%;
}

.font-btns {
    display: grid;
    grid-template-columns: repeat(5, minmax(30px, 50px));
    grid-template-rows: 1fr 1fr;
    gap: 15px 30px;
    text-align: center;
    background-color: #19a59f;
    border-radius: 15px;
    padding: 10px;
}

.select-btn {
    grid-column: span 3;
}

/* memes-modal */

.saved-memes-container {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #6c6f77e1;
    padding: 20px 10px;
    border: 3px solid white;
    border-radius: 20px;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
    box-shadow: 0 10px 10px #000000ab;
    /* pointer-events: auto; */
}

.saved-memes-container.hide {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    /* z-index: -1; */
    /* pointer-events: none; */
}

.saved-memes {
    flex-wrap: wrap;
    gap: 10px;
}

.saved-memes-container h2 {
    color: white;
}

.saved-meme-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 4px solid rgba(56, 59, 66, 0.3);
    box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.75);
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: linear-gradient( 90deg, #0f9ab4, #30bb72);
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #9691914f;
}

/* helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-content {
    justify-content: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn-menu {
    display: none;
}

@media(max-width: 560px) {
    .ctrl-container {
        width: 330px;
        height: 330px
    }
    canvas {
        display: block;
        width: 350px;
        margin: auto;
    }
    .canvas-container {
        height: unset;
    }
    .meme-editor-container {
        padding: 0;
        flex-direction: column;
        flex-wrap: unset;
        height: unset;
    }
    .font-btns {
        gap: 1px
    }
    .ctrl-container .icon {
        width: 35px;
        height: 35px;
    }
    body {
        overflow: auto;
    }
    body::-webkit-scrollbar {
        display: none;
    }
    .img-container {
        grid-template-columns: repeat(auto-fit, 150px);
        grid-auto-rows: 150px;
    }
}

.share-btns {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 20px
}

.share-btns button {
    background-color: #efefef;
    color: black;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

.share-btns a {
    text-decoration: none;
    color: black;
    background-color: #efefef;
    font-size:20px;
}

.keywords {
    cursor: pointer;
}

/* MOBILE Mnu ONLY */

@media (max-width: 720px) {
    .main-nav {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        border-inline-start: 1px solid rgb(41, 39, 39);
        background-color: rgb(0 0 0 / 60%);
        width: 300px;
        transform: translateX(100%);
        transition: transform .6s;
        z-index: 2;
    }
    .btn-menu {
        display: inline-block;
        margin: 20px;
        cursor: pointer;
        background: none;
        border: none;
    }
    body.menu-open .main-nav {
        transform: translateX(0);
    }
    .main-header .main-nav>li {
        margin-inline-end: 0;
    }
    .main-header-container .main-nav a {
        display: block;
        padding: 1rem 0;
        text-align: center;
        border-bottom: 1px solid #ccc;
    }
    .main-header .main-nav a:hover {
        background-color: #f3f3f3;
    }
    .main-header ul {
        padding-right: unset;
    }
    .main-header .main-nav li a {
        color: white;
        font-size: 2em;
    }
}

@media(max-width: 720px) {
    .ctrl-container {
        height: 400px
    }
    .canvas-container {
        height: unset;
    }
    .font-btns {
        gap: 1px
    }
    body {
        padding: 0 0;
    }
}

@media(min-width: 720px) {
    .ctrl-container {
        width: 500px;
        height: 520px;
    }
    .canvas-container {
        width: 500px;
    }
    .ctrl-container .icon {
        width: 40px;
        height: 40px;
    }
    .font-btns {
        gap: 20px
    }
    ul {
        display: flex;
        align-items: center;
    }
    .main-header li .second {
        text-decoration: none;
        line-height: 3.272;
        font-size: 1.375rem;
        padding: 5px 13px;
        color: #fff;
        transition: .5s;
        margin-inline-end: 20px;
    }
    .main-header li .first {
        color: #21ac91;
        text-decoration: none;
        line-height: 3.272;
        font-size: 1.375rem;
        padding: 5px 13px;
        background-color: #fff;
        border-radius: 3em;
        margin-inline-end: 20px;
    }
    /* .main-header li>*:not(:last-child){
        margin-inline-end: 20px;
    } */
}

@media(min-width: 980px) {
    .keyword-search-container {
        display: inline-block;
        width: 40%;
    }
    .gallery-header {
        display: flex;
    }
    .gallery-header .search-container {
        display: inline-block;
        width: 60%;
    }
    .gallery-header .search-container {
        margin-bottom: 0;
    }
}